*{
    background-color: black;
}
h1{
    color: red;
    text-align: center;
}
.inputs{
    color: white;
    display: flex;
    justify-content: space-evenly;
}
input{
    width: 50%;
    border-color: white;
    color: white; 
}
#um{
    border: solid 1px;
    border-color: blue;
    width: 45%;
    text-align: center;
}
#dois{
    border: solid 1px;
    border-color: blue;
    width: 45%;
    text-align: center;
}
